# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- LIST POPULAR DATA SCIENCE LANGUAGES.
- LIST COMMONLY USED LIBRARIES IN DATA SCIENCE.
- CREATE TABLES USING JUPYTER.

Some of the popular languages that Data Scientists use are:

1. PYTHON.
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:

1. SCIKIT.
2. APACHE SPARK.
3. PANDAS.

|Data Science Tools|
---------------------
|JUPYTER|
|R STUDIO| 
|APACHE SPARK|

### H3:  Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## H2: Author
Maram Abdelqader